$cyan: #00D8FF;

html, body {
   margin: 0;
   padding: 0;
   height: 100%;
   color: #fff;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#root {
   height: 100%;
}
.wrapper {
   background: #282D35;
   height: 100%;
}
header {
   background: #21222A;
   display: flex;
   justify-content: space-between;
   padding: 2em;
   .logo-header {
      display: flex;
      align-items: center;
      .logo-img {
         width: 40px;
         height: auto;
         margin-right: 8px;
      }
      .logo-h1 {
         color: $cyan;
         margin: 0;
      }
   } 
   .header-nav {
      display: flex;
      align-items: center;
   }
}